<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_ANON_KEY</key>
	<string>sb_publishable_zq7icHbFI3EeXb-jOsUUwg_5RlA0kSw</string>
	<key>SUPABASE_URL</key>
	<string>https://ztdbdffqrppwnzbdcrxg.supabase.co</string>
	<key>custom iOS Target Properties</key>
	<string></string>
	<key>OPENWEATHER_API_KEY</key>
	<string>0e5aee5de6828b0fdc24a9244209213b</string>
</dict>
</plist>
